<nav aria-label="Menu Principal">
    <div class="logo">
        <a href="/" class="logo-link">
            <img class="logonexus normal" src="/img/logonexus.png" alt="Logo Nexus">
            <img class="logonexus hover" src="/img/logonexus-hover.png" alt="" aria-hidden="true">
        </a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contato">Contato</a></li>
    </ul>
</nav>