<nav aria-label="Menu Principal">
    <div class="logo">
        <a href="/" class="logo-link">
            <img class="logonexus normal" src="/img/logonexus.png" alt="Logo Nexus">
            <img class="logonexus hover" src="/img/logonexus-hover.png" alt="" aria-hidden="true">
        </a>
    </div>
    <ul>
        <% if (typeof usuarioLogado !== 'undefined' && usuarioLogado) { %>
            <li><a href="/dashboard">Meu Painel</a></li>
            <li><a href="/logout" class="nav-sair">Sair</a></li>
            
        <% } else { %>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>